<html>
<head>
</head>
<body>
    <style>
        body {background-color: #ffffff;

             }

        .first {
            width: 100%;
            height: 30px;
            background-color: #ffffff;
            padding:2px;
            margin-left: -10px;
            margin-right: -2px;
            display: flex;
            align-items: center;
            justify-content: center;

          }


        .second {
            width: 100%;
            height: 100%;
            background-color: #00ace6;
            flex-grow: 1000;
            padding:5px;
            margin-left: -10px;
            margin-right: -2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p.a {
          font-family: "Times New Roman", Times, serif;
        }

        p.b {
          font-family: Arial, Helvetica, sans-serif;
        }

        p.c {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: #777;
        }

        .login-screen {
            background-color: #FFF;
            padding: 40px;
            border-radius: 5px
        }

        .app-title {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: #777;
         }

         .font-screen {
            text-align: left;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            color: #777;
         }

         .font-screen2 {
            text-align: center;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            color:red;
         }

         input {
             text-align: center;
             background-color: #ECF0F1;
             border: 2px solid transparent;
             border-radius: 3px;
             font-size: 12px;
             font-weight: 150;
             padding: 5px 0;
             width: 200px;
             transition: border .5s;
         }

         .butt {
             text-align: center;
             background-color: #ECF0F1;
             border: 2px solid transparent;
             border-radius: 3px;
             font-size: 12px;
             font-weight: 150;
             padding: 5px 0;
             width: 200px;
             transition: border .5s;
         }

         input:focus {
           border: 2px solid #3498DB;
           box-shadow: none;
        }

        .loginb {
             text-align: center;
             color: white;
             background-color: #808080;
             border: 2px solid transparent;
             border-radius: 3px;
             font-size: 12px;
             font-weight: 150;
             padding: 5px 0;
             width: 100px;
             transition: border .5s;
         }

         .loginb2 {
             text-align: center;
             color: white;
             background-color: #800000;
             border: 2px solid transparent;
             border-radius: 3px;
             font-size: 12px;
             font-weight: 150;
             padding: 5px 0;
             width: 100px;
             transition: border .5s;
         }

    </style>
<div class="first">

    <p class="c" > -  AUTOMATIC PROCESS - PROJECT CREATION IN GITLAB </p>

</div>

<div class="second">
  <div class="login-screen">
    <div class="app-title">
        GitLab PROJECT
        <div class="font-screen">
            <p>Console Output: </p>
            <pre>
            {{ value }}
            </pre>
            <BR><BR><BRR>
        </div>
        <form action="/", method="GET">
          <input type="submit" class="loginb2" value="Home">
         </form>
     </div>
    </div>
</div>



</body>
</html>
