<html>
<head>


</head>
<body>
    <style>
        body {background-color: #ffffff;

             }

        .first {
            width: 100%;
            height: 30px;
            background-color: #ffffff;
            padding:2px;
            margin-left: -10px;
            margin-right: -2px;
            display: flex;
            align-items: center;
            justify-content: center;

          }

        .second {
            width: 100%;
            height: 100%;
            background-color: #00ace6;
            flex-grow: 1000;
            padding:5px;
            margin-left: -10px;
            margin-right: -2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p.a {
          font-family: "Times New Roman", Times, serif;
        }

        p.b {
          font-family: Arial, Helvetica, sans-serif;
        }

        p.c {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: #777;
        }


        .login-screen {
            background-color: #FFF;
            padding: 20px;
            border-radius: 5px
        }

        .control-group {
            margin-bottom: 10px;
        }

        .app-title {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: #777;
         }

         input {
             text-align: center;
             background-color: #ECF0F1;
             border: 2px solid transparent;
             border-radius: 3px;
             font-size: 12px;
             font-weight: 150;
             padding: 5px 0;
             width: 200px;
             transition: border .5s;
         }

         .loginb {
             text-align: center;
             color: white;
             background-color: #808080;
             border: 2px solid transparent;
             border-radius: 3px;
             font-size: 12px;
             font-weight: 150;

             padding: 5px 0;
             width: 100px;
             transition: border .5s;
         }

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}


    </style>
<div class="first">
    <p class="c" > -  AUTOMATIC PROCESS - PROJECT CREATION IN GITLAB</p>
</div>

<div class="second">
 <div class="login-screen">
    <div class="app-title">
        <BR>
          <div class="app-title">
              GitLab API Login
          </div>
    </div>
  <BR>
    {% block body %}
    {% if session['logged_in'] %}
       You're logged in already!
    {% else %}
       <form action="/login" method="POST">
         <input type="username" name="username" placeholder="Username">
         <label class="login-field-icon fui-user" for="login-name"></label>
         <br>
         <br>
         <input type="password" name="password" placeholder="Password">
         <input type="submit" class="loginb" value="Log in" >

       </form>
     {% endif %}
   {% endblock %}

  </div>

</div>


</body>
</html>
